.about {
    @include justify-center;
    flex-direction: column;
    padding-top: 150px;

    @media (max-width: 767px) {
        padding-top: 80px;
    }

    &-wrap {
        width: 100%;
        min-height: 630px;
        background: #333;
    }
    h2 {
        font-weight: 300;
        font-size: 48px;
        line-height: 65px;
        text-align: center;
        letter-spacing: 0.1em;
        text-transform: uppercase;
        margin: 0 0 100px;

        @media (max-width: 767px) {
            margin: 0 0 60px;
        }
    }

    &__description {
        display: flex;
        justify-content: space-between;

        @media (max-width: 992px) {
            margin-left: 80px;
        }
        @media (max-width: 980px) {
            margin-left: 40px;
        }
        @media (max-width: 767px) {
            flex-direction: column;
            margin-left: 0;
        }

        h3 {
            font-weight: bold;
            font-size: 21px;
            line-height: 29px;
            letter-spacing: 0.1em;
            text-transform: uppercase;
            margin-bottom: 40px;

            @media (max-width: 767px) {
                margin: 40px 0;
                text-align: center;
            }
        }
        &_text {
            max-width: 445px;

            p {
                min-width: 445px;
                font-family: $font-sans;
                font-weight: normal;
                font-size: 14px;
                line-height: 21px;

                @media (max-width: 767px) {
                    text-align: center;
                }
                @media (max-width: 575px) {
                    min-width: 100%;
                    padding: 0 30px;
                }
            }
        }
        &_numerics {
            min-width: 210px;
            margin: 0 30px;

            @media (max-width: 767px) {
                @include justify-center;
                flex-direction: column;
            }
            &-icons {
                @include justify-center;

                p {
                    font-style: normal;
                    font-weight: bold;
                    font-size: 16px;
                    line-height: 22px;
                    letter-spacing: 0.05em;
                    margin: 15px 0 28px;
                }
            }
            &-icon {
                &:first-child {
                    margin-right: 60px;
                }
            }
        }
        &_img {
            width: 350px;
            height: 292px;

            @media (max-width: 1440px) {
                display: none;
            }
        }
    }
}
