.supplies {
    width: 100%;
    background: #333;
    padding-top: 150px;
    @include justify-center;
    flex-direction: column;

    h2 {
        font-weight: 300;
        font-size: 48px;
        line-height: 65px;
        text-align: center;
        letter-spacing: 0.1em;
        text-transform: uppercase;
        margin-bottom: 100px;
    }

    &__wrapper {
        width: 100%;
        height: 550px;
        margin-bottom: 150px;

        .perform {
            max-width: 442px;
            max-height: 550px;
            margin: 0;
            position: relative;

            img {
                width: 100%;
            }

            &__disc {
                position: absolute;
                display: flex;
                flex-flow: wrap column;
                justify-content: space-between;
                width: 100%;
                height: 100%;
                left: 0;
                top: 0;
                padding: 40px 40px 0px 40px;
                background-color: #333333bf;

                h3 {
                    font-weight: bold;
                    font-size: 24px;
                    line-height: 33px;
                    letter-spacing: 0.05em;
                    text-transform: uppercase;
                    margin: 0;
                }
                p {
                    font-weight: bold;
                    font-size: 18px;
                    line-height: 25px;
                    letter-spacing: 0.1em;
                    text-transform: uppercase;
                    transform: rotate(-90deg);
                    transform-origin: left top 0;
                }
            }
            &__search {
                @include position-center;
                display: none;
                cursor: pointer;
                img {
                    @media (max-width: 1440px) {
                        width: 75px;
                    }
                }
            }
            &:hover,
            &:active {
                .perform__disc {
                    display: none;
                }
                .perform__search {
                    display: block;
                }
            }
        }

        .supplies__images {
            @include justify-center;
            padding-left: 150px;
            height: 100%;
        }

        .supplies__slider {
            display: none;
        }
    }

    .supplies__review {
        width: 1110px;
        min-height: 550px;
        background: url('../img/bg-sup.png') top center/cover no-repeat;
        @include justify-center;

        &_years {
            @include justify-center;
            flex-direction: column;
            margin-right: 105px;

            font-weight: bold;
            font-size: 72px;
            line-height: 98px;
            letter-spacing: 0.1em;
            text-transform: uppercase;
        }
        &_view {
            width: 400px;

            .stars {
                margin-bottom: 25px;
                img {
                    margin-right: 25px;
                }
            }

            p {
                font-weight: bold;
                font-size: 36px;
                line-height: 54px;
            }
        }
    }
}
