.partners {
    @include justify-center;
    flex-direction: column;

    &-wrap {
        width: 100%;
        background: #333;
    }

    h2 {
        font-weight: 300;
        font-size: 48px;
        line-height: 65px;
        text-align: center;
        letter-spacing: 0.1em;
        text-transform: uppercase;
        margin: 150px 0 20px;
    }
    &__img {
        width: 100%;
        @include justify-center;
        flex-wrap: wrap;

        img {
            margin: 80px 35px 0;
        }

        @media (max-width: 992px) {
            display: none;
        }
    }

    &__slider {
        display: none;

        .carousel-inner {
            &:nth-child(2) img {
            }
        }
        @media (max-width: 992px) {
            display: block;
            margin-top: 40px;
        }
        .carousel-control-prev {
            left: -50px;
            bottom: -60px;
        }
        .carousel-control-next {
            right: -50px;
            bottom: -60px;
        }
    }
}
